.nav-item {
  @apply px-4 h-full flex place-items-center  hover:text-primary hover:cursor-pointer;
}

.selected {
  @apply text-primary;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: gray !important;
}

button:disabled:hover {
  color: gray !important;
}

/*.sort-btn:hover {
  @apply text-primary;
  text-shadow: 0px 0px 10px;
}*/

/*hover:border-b-2 hover:border-primary;*/

/*.nav-item__dropdown {
  @apply p-2  bg-secondary absolute;
  top: 86px;
}*/
